@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Sora:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #070B14;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

.logo-custom {
  font-family: 'Oleo Script Swash Caps', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}